{% extends "store/base.html" %}



{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Aaamouu's E-commerce !!!</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align='justify'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla imperdiet mauris, ut laoreet sapien rutrum sed. Donec ultricies nisi mi, id fringilla sem efficitur eget. Nunc leo erat, viverra in mi ac, vulputate luctus lacus. Morbi lacus neque, sagittis in ligula eu, scelerisque venenatis augue. Sed bibendum, metus eget convallis vulputate, ipsum diam auctor nibh, sit amet rutrum dui felis non felis. Cras convallis turpis et libero pharetra, eget tincidunt erat mollis. Integer gravida imperdiet pellentesque. Vivamus ultrices ante libero, vel molestie libero commodo in. Nullam congue pellentesque ipsum eget bibendum. Quisque blandit pretium metus. Suspendisse ac lectus sed lectus lacinia congue. Proin nec dolor quis sem dignissim elementum et vel purus. Donec dui libero, tristique a posuere id, malesuada at massa. Aliquam nec est lobortis, volutpat mauris eget, facilisis quam. Ut luctus lacus eu odio maximus rhoncus. Sed semper facilisis erat in faucibus.
                    <br/><br/>
                    Nunc finibus blandit nulla. Duis imperdiet, mi eu placerat iaculis, lorem libero efficitur dui, ac vestibulum odio mauris vel augue. Pellentesque egestas viverra tempus. Nulla a ligula auctor, placerat orci id, maximus velit. Proin luctus dictum libero, a faucibus ex ultricies ut. Sed vel sapien in quam vestibulum dictum sed id est. Donec volutpat eu dolor sit amet congue. Vivamus malesuada risus sed dui mattis dapibus. Integer vitae laoreet tellus, vitae volutpat dolor. Donec sed tortor mi.
                    <br/><br/>
                    Maecenas vel consequat metus. Cras sed venenatis velit. Integer dui magna, tempus eu erat interdum, rutrum scelerisque sem. Donec feugiat est dui, quis imperdiet dui sagittis sit amet. Vestibulum et erat gravida, condimentum orci ac, sollicitudin leo. Nunc justo turpis, condimentum et tincidunt ut, pellentesque a quam. Mauris posuere dui nec nisl tincidunt faucibus ut a neque. Aliquam vehicula orci eget mollis ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu felis laoreet, tempus eros nec, cursus nunc. Integer sollicitudin risus auctor nisi vehicula, sit amet porttitor arcu elementum. Pellentesque nec velit elit. Aenean dignissim nisl ut leo dictum hendrerit. Duis facilisis rhoncus fermentum.
                    <br/><br/>
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock content %}