{% extends "store/base.html" %}
{% load static %}



{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
            {% if product.is_sale %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!--Sales badge-->
                    <div class="badge bg-dark text-white position-absolute"
                            style="top: 0.5rem, right= 0.5rem;">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <div class="d-flex
                                justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                            <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <strike>
                                ${{ product.price }}
                            </strike>
                            &nbsp; <!--Sorte de code pour matérialiser un espace-->
                                ${{ product.sale_price }}
                            <br>
                            In: {{ product.category }}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product price-->
                            ${{ product.price }}
                            <br>
                            In: {{ product.category }}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" 
                            href="{% url 'product' product.id %}"
                            >View Product</a></div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        
    </div>
</section>


{% endblock content %}