{% extends "store/base.html" %}



{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">LOGIN</h1>
            <p class="lead fw-normal text-white-50 mb-0">Log In To Your Account...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-md-6">
                <br><br>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %} 
                    <div class="mb-3">
                      <input type="text" class="form-control" name="username" placeholder="Enter  your username">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <input type="password" class="form-control" name="password" placeholder="Enter your password">
                    </div>
                    {% comment %} <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> {% endcomment %}
                    <button type="submit" class="btn btn-secondary">Login</button>
                  </form>
               <br><br>
               <br><br>
               <br><br>
               <br><br>
            </div>
        </center>
    </div>
</div>
{% endblock content %}