{% extends "store/base.html" %}



{% block content %}
<div class="container">
    <br>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <center>
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>


                    {% if product.is_sale %}
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                        <div class="bi-star-fill"></div>
                    </div>
                    <strike>
                        ${{ product.price }}
                    </strike>
                    &nbsp; <!--Sorte de code pour matérialiser un espace-->
                        ${{ product.sale_price }}
                    <br>
                    In: {{ product.category }}

                    {% else %}
                    ${{ product.price }}
                    <br>
                    In: {{ product.category }}
                    <br><br><br><br>

                    {% endif %}

                    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                </center>
            </div>
          </div>
        </div>
      </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}